body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
    overflow: hidden;
}
p {
  color: rgb(223, 223, 223);
  font-size: 2.1vmin;
  font-family: serif;
}
.container {
  position: absolute;
  top: calc( (100vh - 95vmin) / 2 );
  left: calc( (100vw - 95vmin) / 2 );
}
.simon-game {
  /* position: absolute;
  top: calc( (100vh - 95vmin) / 2 );
  left: calc( (100vw - 95vmin) / 2 ); */
  width: 95vmin;
  height: 95vmin;
  background-color: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.button {
  position: absolute;
  padding: 0%;
  width: 50%;
  height: 50%;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent;

  border-top-right-radius: 50vmin;
  border: 4vmin solid;
  border-bottom: 2vmin solid;
  border-left: 2vmin solid;

  display: inline-grid;
  margin: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  z-index: 0;
}
#up {
  left: 25%;
  top: -10%;
  border-color: rgb(0, 0, 0);
  background-color: rgb(74, 162, 76);
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}
#down {
  left: 25%;
  top: 60%;
  border-color: rgb(0, 0, 0);
  background-color: rgb(18, 130, 159);
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
}
#left {
  left: -10%;
  top: 25%;
  border-color: rgb(0, 0, 0);
  background-color: rgb(159, 163, 51);
  transform:rotate(-135deg);
  -webkit-transform:rotate(-135deg);
}
#right {
  left: 60%;
  top: 25%;
  border-color: rgb(0, 0, 0);
  background-color: rgb(156, 28, 28);
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.circle {
  border-radius: 50%;
  border: 2.5vmin solid rgb(0, 0, 0);
  background-color: rgb(85, 85, 85);

  font-size: 9.9vmin;
  font-family: 'Erica One', cursive;
  padding-bottom: 14vmin;
  padding-left: 1.5vmin;
  color: rgb(223, 223, 223);
  height: 44%;
  width: 44%;
  position: absolute;
  top: 28%;
  left: 28%;
  user-select: none;
  outline: none;
  z-index: 0;
}
.button-panel {
  position: absolute;
  width: 25%;
  height: 20%;
  top: 45%;
  left: 37.5%;
  z-index: 1;
}
.start-button {
  border-radius: 50%;
  border: 0.5vmin solid rgb(68, 68, 68);
  /* border-color: transparent; */
  font-size: 1vmin;
  padding-left: 1vmin;
  color: rgb(223, 223, 223);
  background-color: rgb(129, 129, 129);
  -webkit-tap-highlight-color: transparent;
  height: 30%;
  width: 24%;
  position: absolute;
  cursor: pointer;
  user-select: none;
  outline: none;
  z-index: 1;
}
#on-off {
  top: 80%;
  left: 45%;
}
#on-off-text {
  position: absolute;
  top: 80%;
  left: 15%;
}
#start {
  top: 45%;
  left: 45%;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 0;
  -webkit-animation-timing-function: linear;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: 0;
  animation-timing-function: linear;
}
@keyframes blink {
  0%   {background-color: rgb(129, 129, 129);}
  50%  {background-color: rgb(115, 213, 55);}
}
#start-text {
  position: absolute;
  top: 15%;
  left: 47%;
}
#strict {
  top: 45%;
  left: 80%;
}
#strict-text {
  position: absolute;
  top: 15%;
  left: 82%;
}
.counter {
  position: absolute;
  width: 30%;
  height: 35%;
  top: 42%;
  left: 0%;
  border: 0;
  background-color: rgb(48, 48, 48);
  border-radius: 10%;
  border: 0.3vmin solid rgb(136, 136, 136);
  font-family: "digital-font";
  font-size: 4vmin;
  color: rgb(213, 6, 6);
  text-align: center;
  user-select: none;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
#counter-text {
  position: absolute;
  top: 15%;
  left: 0%;
}
@font-face{
 font-family:"digital-font";
 src: url("fonts/digital-font.ttf");
}
#name {
  position: absolute;
  top: 93vh;
  left: 60vw;
}
#name-text {
  color: rgb(63, 198, 237);
  font-family: "Indie Flower", cursive;
  font-size: 2.3vmin;
  text-decoration: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }

  20%, 60% {
    transform: rotate(-25deg)
  }

  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
